@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* shared style */
.display-flex{
    display: flex;
}

/* dark 02 color */
.text-gray{
  color: #424242;
}
/* dark 03 color */
.text-light-gray{
  color: #727272;
}

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
  background-color: #FF900E;
  color: #FFFFFF;
  padding: 20px 25px;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
}


main{
  max-width: 1440px;
  margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

/* header style */



/* navbar style */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
  font-weight: 700;
  font-size: 3rem;
}
.menu-item{
  list-style: none;
  margin-right: 30px;
}
.menu-link{
text-decoration: none;
font-weight: 500;

}
.navbar , .banner{
  max-width: 1440px;
  margin: 0 auto;
}

.banner-content{
  max-width: 868px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title{
  font-weight: 700;
  font-size: 4rem;

}
.banner-img{
  width: 100%;
}

/* team-features style */
.team-features{
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.Our-Features{
  margin-left: 73px;
  max-width: 537px;
}

.features-titel{
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 24px;
}
#Quick-list{
  font-weight:500 ;
}
.text-color-o{
  color: #FF900E;
 
}


/* Responsive media query */
@media screen and (max-width:576px){
  .navbar, .menu-link, .team-features{
    flex-direction: column;
  }
  .team-img-container{
    grid-template-columns: repeat(1,1fr);
  }
  .Our-Features{
    margin-left: 15px;
  }
  
}





@media screen and (min-width:576px) and ( max-width:992px){

  .team-features{
    flex-direction: column;
  }
  .Our-Features{
    margin: 20px auto;
  }
  

}